<section class="magazine mt-80">

	<div class="container-fluid grid">

		<div class="grid-4 grid-md-5 end-md-6 v-center">
			<div class="img _1-1">
				<picture>
					{{image({ src:  image2 , srcset: [769, 1920], alt: 'default' })}}
				</picture>
			</div>
		</div>
		<div class="grid-4 grid-md-4 end-md-11 v-center">
			<div class="text grid-4 grid-md-6 end-md-9">
				<div class="label30 uppercase">experience caiarossa</div>
				<div class="title display20">{{ title }}</div>
				<div class="abstract paragraph10">
					{{ abstract2 }}
				</div>
				<div>
					<button class="cta cta10">Book now yours</button>
				</div>
			</div>
		</div>
	</div>

</section>
