.footer {

  .icon--websolute {
    width: 85px;
    height: 16px;
  }

  .pl-96 {
    @include media-down(xs) {
      padding-left: 16px;
    }
  }

  .pr-96 {
    @include media-down(xs) {
      padding-left: 16px;
    }
  }

  .px-96 {
    @include media-down(xs) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .follow {
    ul {
      display: flex;
      justify-content: flex-start;
      column-gap: 24px;
      align-items: center;

      li {}
    }
  }

  .sitemap {
    @include media-down(sm) {
      margin-bottom: 32px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: var(--m-40);
    }
  }
}

.credits {
  padding-top: max(24px, min(40px, 24px + (100vw - 768px) / 1152 * (40 - 24)));
  padding-bottom: max(24px, min(40px, 24px + (100vw - 768px) / 1152 * (40 - 24)));
  padding-left: max(16px, min(40px, 16px + (100vw - 768px) / 1152 * (40 - 16)));
  padding-right: max(16px, min(40px, 16px + (100vw - 768px) / 1152 * (40 - 16)));
  border-top: 1px solid var(--color-ui-grey02);
}