<section class="cards">
	<div class="container-fluid grid">
		{% if item %}
			{% for item in item.items %}
				<div class="grid-2 grid-md-3 item px-40 pt-64 pb-80">
					<div class="text">
						<div class="ico">
							<img src="{{item.icon}}" alt=""/>
						</div>
						<div class="title display10">{{item.number}}</div>
						<div class="abstract display90">
							{{item.abstract}}
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</section>
