<div class="main-navigation">
	<div class="container-fluid">
		<div class="grid">
			<div class="main-navigation__primary grid-4 grid-md-5 end-md-6">
				<ul class="display30">
					<li>
						<a href="#">Wines & more</a>
					</li>
					<li>
						<a href="#">Caiarossa</a>
					</li>
					<li>
						<a href="#">Terroir</a>
					</li>
					<li>
						<a href="#">Philosophy</a>
					</li>
				</ul>
			</div>
			<div class="main-navigation__secondary grid-4 grid-md-4 end-md-11">
				<ul class="display50">
					<li>
						<a href="#">Experience Caiarossa</a>
					</li>
					<li>
						<a href="#">Store Locator</a>
					</li>
					<li>
						<a href="#">Magazine</a>
					</li>
					<li>
						<a href="#">Contacts</a>
					</li>
				</ul>
			</div>
			<div class="main-navigation__follow grid-2 grid-md-8 end-md-9">
				<ul>
					<li>
						<a href="#">
							<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 7.17969C9.25832 7.17969 8.5333 7.39962 7.91661 7.81168C7.29993 8.22373 6.81928 8.8094 6.53545 9.49462C6.25162 10.1798 6.17736 10.9338 6.32206 11.6613C6.46675 12.3887 6.8239 13.0569 7.34835 13.5813C7.8728 14.1058 8.54098 14.4629 9.26841 14.6076C9.99584 14.7523 10.7498 14.6781 11.4351 14.3942C12.1203 14.1104 12.706 13.6298 13.118 13.0131C13.5301 12.3964 13.75 11.6714 13.75 10.9297C13.749 9.93544 13.3535 8.98222 12.6505 8.27918C11.9475 7.57614 10.9942 7.18072 10 7.17969ZM10 13.4297C9.50555 13.4297 9.0222 13.2831 8.61107 13.0084C8.19995 12.7337 7.87952 12.3432 7.6903 11.8864C7.50108 11.4296 7.45157 10.9269 7.54804 10.442C7.6445 9.95701 7.8826 9.51155 8.23223 9.16192C8.58186 8.81229 9.02732 8.57419 9.51227 8.47772C9.99723 8.38126 10.4999 8.43077 10.9567 8.61999C11.4135 8.80921 11.804 9.12964 12.0787 9.54076C12.3534 9.95189 12.5 10.4352 12.5 10.9297C12.5 11.5927 12.2366 12.2286 11.7678 12.6975C11.2989 13.1663 10.663 13.4297 10 13.4297ZM13.75 2.80469H6.25C5.09006 2.80593 3.97798 3.26726 3.15778 4.08747C2.33758 4.90767 1.87624 6.01975 1.875 7.17969V14.6797C1.87624 15.8396 2.33758 16.9517 3.15778 17.7719C3.97798 18.5921 5.09006 19.0534 6.25 19.0547H13.75C14.9099 19.0534 16.022 18.5921 16.8422 17.7719C17.6624 16.9517 18.1238 15.8396 18.125 14.6797V7.17969C18.1238 6.01975 17.6624 4.90767 16.8422 4.08747C16.022 3.26726 14.9099 2.80593 13.75 2.80469ZM16.875 14.6797C16.875 15.5085 16.5458 16.3033 15.9597 16.8894C15.3737 17.4754 14.5788 17.8047 13.75 17.8047H6.25C5.4212 17.8047 4.62634 17.4754 4.04029 16.8894C3.45424 16.3033 3.125 15.5085 3.125 14.6797V7.17969C3.125 6.35089 3.45424 5.55603 4.04029 4.96998C4.62634 4.38393 5.4212 4.05469 6.25 4.05469H13.75C14.5788 4.05469 15.3737 4.38393 15.9597 4.96998C16.5458 5.55603 16.875 6.35089 16.875 7.17969V14.6797ZM15 6.86719C15 7.05261 14.945 7.23386 14.842 7.38803C14.739 7.54221 14.5926 7.66237 14.4213 7.73332C14.25 7.80428 14.0615 7.82285 13.8796 7.78667C13.6977 7.7505 13.5307 7.66121 13.3996 7.5301C13.2685 7.39899 13.1792 7.23194 13.143 7.05009C13.1068 6.86823 13.1254 6.67973 13.1964 6.50842C13.2673 6.33712 13.3875 6.1907 13.5417 6.08768C13.6958 5.98467 13.8771 5.92969 14.0625 5.92969C14.3111 5.92969 14.5496 6.02846 14.7254 6.20427C14.9012 6.38009 15 6.61855 15 6.86719Z" fill="#333333"/></svg>
						</a>
					</li>
					<li>
						<a href="#">
							<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 2.80469C8.39303 2.80469 6.82215 3.28121 5.486 4.174C4.14985 5.06678 3.10844 6.33574 2.49348 7.82038C1.87852 9.30503 1.71762 10.9387 2.03112 12.5148C2.34463 14.0909 3.11846 15.5386 4.25476 16.6749C5.39106 17.8112 6.8388 18.5851 8.4149 18.8986C9.99099 19.2121 11.6247 19.0512 13.1093 18.4362C14.594 17.8212 15.8629 16.7798 16.7557 15.4437C17.6485 14.1075 18.125 12.5367 18.125 10.9297C18.1227 8.7755 17.266 6.7102 15.7427 5.18696C14.2195 3.66372 12.1542 2.80696 10 2.80469ZM10.625 17.7758V12.8047H12.5C12.6658 12.8047 12.8247 12.7388 12.9419 12.6216C13.0592 12.5044 13.125 12.3454 13.125 12.1797C13.125 12.0139 13.0592 11.855 12.9419 11.7377C12.8247 11.6205 12.6658 11.5547 12.5 11.5547H10.625V9.67969C10.625 9.34817 10.7567 9.03023 10.9911 8.7958C11.2255 8.56138 11.5435 8.42969 11.875 8.42969H13.125C13.2908 8.42969 13.4497 8.36384 13.5669 8.24663C13.6842 8.12942 13.75 7.97045 13.75 7.80469C13.75 7.63893 13.6842 7.47996 13.5669 7.36275C13.4497 7.24554 13.2908 7.17969 13.125 7.17969H11.875C11.212 7.17969 10.5761 7.44308 10.1072 7.91192C9.6384 8.38076 9.375 9.01665 9.375 9.67969V11.5547H7.5C7.33424 11.5547 7.17527 11.6205 7.05806 11.7377C6.94085 11.855 6.875 12.0139 6.875 12.1797C6.875 12.3454 6.94085 12.5044 7.05806 12.6216C7.17527 12.7388 7.33424 12.8047 7.5 12.8047H9.375V17.7758C7.61312 17.6149 5.98107 16.7811 4.81831 15.4476C3.65556 14.1142 3.05162 12.3838 3.13212 10.6164C3.21263 8.84905 3.97137 7.18075 5.25053 5.95852C6.52969 4.7363 8.2308 4.05425 10 4.05425C11.7692 4.05425 13.4703 4.7363 14.7495 5.95852C16.0286 7.18075 16.7874 8.84905 16.8679 10.6164C16.9484 12.3838 16.3444 14.1142 15.1817 15.4476C14.0189 16.7811 12.3869 17.6149 10.625 17.7758Z" fill="#333333"/></svg>
						</a>
					</li>
					<li>
						<a href="#">
							<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8469 10.4094L9.09688 7.90938C9.00273 7.84656 8.89329 7.81049 8.78024 7.80502C8.6672 7.79954 8.55479 7.82486 8.45501 7.87828C8.35523 7.9317 8.27183 8.01121 8.21371 8.10832C8.15559 8.20544 8.12493 8.31651 8.125 8.42969V13.4297C8.12493 13.5429 8.15559 13.6539 8.21371 13.7511C8.27183 13.8482 8.35523 13.9277 8.45501 13.9811C8.55479 14.0345 8.6672 14.0598 8.78024 14.0544C8.89329 14.0489 9.00273 14.0128 9.09688 13.95L12.8469 11.45C12.9326 11.393 13.0029 11.3156 13.0515 11.2248C13.1002 11.1341 13.1256 11.0327 13.1256 10.9297C13.1256 10.8267 13.1002 10.7253 13.0515 10.6346C13.0029 10.5438 12.9326 10.4664 12.8469 10.4094ZM9.375 12.2617V9.60157L11.3734 10.9297L9.375 12.2617ZM18.307 6.36094C18.2334 6.07293 18.0924 5.80655 17.8955 5.58378C17.6987 5.36101 17.4517 5.18822 17.175 5.07969C14.4969 4.04532 10.2344 4.05469 10 4.05469C9.76562 4.05469 5.50312 4.04532 2.825 5.07969C2.54825 5.18822 2.30128 5.36101 2.10445 5.58378C1.90762 5.80655 1.76658 6.07293 1.69297 6.36094C1.49063 7.14063 1.25 8.56563 1.25 10.9297C1.25 13.2938 1.49063 14.7188 1.69297 15.4984C1.76647 15.7866 1.90746 16.0531 2.1043 16.276C2.30113 16.499 2.54816 16.6719 2.825 16.7805C5.39062 17.7703 9.40625 17.8047 9.94844 17.8047H10.0516C10.5938 17.8047 14.6117 17.7703 17.175 16.7805C17.4518 16.6719 17.6989 16.499 17.8957 16.276C18.0925 16.0531 18.2335 15.7866 18.307 15.4984C18.5094 14.7172 18.75 13.2938 18.75 10.9297C18.75 8.56563 18.5094 7.14063 18.307 6.36094ZM17.0969 15.1891C17.0731 15.2849 17.0269 15.3738 16.9621 15.4483C16.8973 15.5229 16.8158 15.581 16.7242 15.618C14.2516 16.5727 10.0461 16.5555 10.0055 16.5555H10C9.95781 16.5555 5.75547 16.5711 3.28125 15.618C3.18966 15.581 3.10814 15.5229 3.04337 15.4483C2.97859 15.3738 2.9324 15.2849 2.90859 15.1891C2.71875 14.4758 2.5 13.1617 2.5 10.9297C2.5 8.69766 2.71875 7.3836 2.90313 6.67422C2.92649 6.5778 2.97248 6.48833 3.03728 6.4132C3.10208 6.33808 3.18383 6.27946 3.27578 6.24219C5.66016 5.3211 9.65547 5.30469 9.98281 5.30469H10.0039C10.0461 5.30469 14.2523 5.29063 16.7227 6.24219C16.8142 6.27915 16.8958 6.3373 16.9605 6.41185C17.0253 6.4864 17.0715 6.57525 17.0953 6.6711C17.2812 7.3836 17.5 8.69766 17.5 10.9297C17.5 13.1617 17.2812 14.4758 17.0969 15.1852V15.1891Z" fill="#333333"/></svg>
						</a>
					</li>
					<li>
						<a href="#">
							<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.875 2.80469H3.125C2.79348 2.80469 2.47554 2.93638 2.24112 3.1708C2.0067 3.40522 1.875 3.72317 1.875 4.05469V17.8047C1.875 18.1362 2.0067 18.4542 2.24112 18.6886C2.47554 18.923 2.79348 19.0547 3.125 19.0547H16.875C17.2065 19.0547 17.5245 18.923 17.7589 18.6886C17.9933 18.4542 18.125 18.1362 18.125 17.8047V4.05469C18.125 3.72317 17.9933 3.40522 17.7589 3.1708C17.5245 2.93638 17.2065 2.80469 16.875 2.80469ZM16.875 17.8047H3.125V4.05469H16.875V17.8047ZM7.5 9.67969V14.6797C7.5 14.8454 7.43415 15.0044 7.31694 15.1216C7.19973 15.2388 7.04076 15.3047 6.875 15.3047C6.70924 15.3047 6.55027 15.2388 6.43306 15.1216C6.31585 15.0044 6.25 14.8454 6.25 14.6797V9.67969C6.25 9.51393 6.31585 9.35496 6.43306 9.23775C6.55027 9.12054 6.70924 9.05469 6.875 9.05469C7.04076 9.05469 7.19973 9.12054 7.31694 9.23775C7.43415 9.35496 7.5 9.51393 7.5 9.67969ZM14.375 11.8672V14.6797C14.375 14.8454 14.3092 15.0044 14.1919 15.1216C14.0747 15.2388 13.9158 15.3047 13.75 15.3047C13.5842 15.3047 13.4253 15.2388 13.3081 15.1216C13.1908 15.0044 13.125 14.8454 13.125 14.6797V11.8672C13.125 11.4528 12.9604 11.0554 12.6674 10.7623C12.3743 10.4693 11.9769 10.3047 11.5625 10.3047C11.1481 10.3047 10.7507 10.4693 10.4576 10.7623C10.1646 11.0554 10 11.4528 10 11.8672V14.6797C10 14.8454 9.93415 15.0044 9.81694 15.1216C9.69973 15.2388 9.54076 15.3047 9.375 15.3047C9.20924 15.3047 9.05027 15.2388 8.93306 15.1216C8.81585 15.0044 8.75 14.8454 8.75 14.6797V9.67969C8.75078 9.5266 8.80771 9.37912 8.91001 9.26522C9.01231 9.15132 9.15285 9.07894 9.30498 9.06179C9.45711 9.04464 9.61024 9.08392 9.73533 9.17218C9.86041 9.26045 9.94876 9.39155 9.98359 9.54063C10.4064 9.25381 10.8993 9.08758 11.4095 9.05978C11.9196 9.03199 12.4277 9.14368 12.8792 9.38286C13.3306 9.62204 13.7084 9.97968 13.972 10.4174C14.2355 10.8551 14.3748 11.3563 14.375 11.8672ZM7.8125 7.49219C7.8125 7.67761 7.75752 7.85886 7.6545 8.01303C7.55149 8.16721 7.40507 8.28737 7.23377 8.35832C7.06246 8.42928 6.87396 8.44785 6.6921 8.41167C6.51025 8.3755 6.3432 8.28621 6.21209 8.1551C6.08098 8.02399 5.99169 7.85694 5.95551 7.67509C5.91934 7.49323 5.93791 7.30473 6.00886 7.13342C6.07982 6.96212 6.19998 6.8157 6.35415 6.71268C6.50832 6.60967 6.68958 6.55469 6.875 6.55469C7.12364 6.55469 7.3621 6.65346 7.53791 6.82927C7.71373 7.00509 7.8125 7.24355 7.8125 7.49219Z" fill="#333333"/></svg>
						</a>
					</li>
				</ul>

				<ul class="change-lang paragraph20">
					<li class="active">
						<a href="#">En</a>
					</li>
					<li>
						<a href="#">It</a>
					</li>
					<li>
						<a href="#">Fr</a>
					</li>
				</ul>
			</div>
			<div class="ico-house grid-2 grid-md-3 end-md-12">
				<svg width="446" height="232" viewbox="0 0 446 232" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M17.3676 76.611C6.80202 113.64 26.7918 156.978 62.5752 174.588C71.0186 178.72 80.0336 181.539 89.1124 184.014C104.542 188.222 120.617 191.603 136.377 189.407C184.758 182.627 198.431 83.0533 172.584 47.2218C132.062 -8.99962 34.6361 16.0678 17.328 76.6037" fill="#DDDC00"/>
					<path d="M444.875 159.548C444.682 162.341 444.201 165.039 445.164 167.736C444.971 167.928 444.875 168.121 444.875 168.314C444.779 179.873 444.586 191.528 444.49 203.087C444.49 221.678 444.49 240.365 444.393 258.956C444.393 264.543 444.201 264.832 438.904 266.759C426.769 270.997 414.345 271.382 401.729 270.034C392.484 268.974 383.334 267.337 374.089 266.181C369.948 265.699 365.71 265.603 361.761 267.24C357.909 268.781 354.249 268.589 350.975 266.181C342.403 259.727 332.484 258.86 322.275 259.053C309.659 255.585 297.139 252.021 284.523 248.553C285.197 243.833 283.752 239.113 283.559 234.393C283.174 221.389 283.463 208.289 282.596 195.285C281.633 179.295 282.596 163.112 281.152 147.122C287.701 146.64 293.864 145.099 299.354 141.342C309.37 134.503 319.579 127.857 329.691 121.114C330.461 120.536 331.232 120.054 331.521 118.995C333.447 118.706 335.18 117.935 336.625 116.587C340.285 113.215 344.619 113.119 349.338 113.408C360.895 113.986 372.548 114.179 384.105 114.179C389.113 114.179 393.158 115.623 397.203 118.61C408.76 126.99 420.509 135.081 432.066 143.365C434.281 144.906 436.496 146.159 439.193 146.737C443.141 147.507 444.201 148.952 444.586 152.805C444.779 155.021 444.779 157.332 444.875 159.644M363.013 188.542V188.349C366.962 188.349 371.007 188.349 374.956 188.349C379.193 188.253 379.289 188.157 379.386 183.726C379.386 179.006 379.386 174.19 379.386 169.47C379.386 166.58 378.519 163.786 377.267 161.282C374.185 155.021 368.31 152.131 361.184 153.383C353.094 154.828 348.086 159.355 347.604 166.483C347.219 172.745 347.604 179.006 347.604 185.267C347.604 187.771 348.856 188.542 351.168 188.542C355.116 188.542 359.161 188.542 363.11 188.542" fill="#D04526"/>
					<path d="M331.521 119.093C331.328 120.153 330.558 120.634 329.691 121.212C319.579 127.955 309.467 134.698 299.354 141.537C293.865 145.294 287.701 146.835 281.152 147.317C275.663 146.546 270.269 148.28 264.78 148.376C252.645 148.761 240.607 148.183 228.472 149.243C215.278 150.399 201.987 149.243 188.697 150.495C176.851 151.555 164.909 150.495 152.966 151.555C139.58 152.711 126.097 151.555 112.614 152.711C102.405 153.578 92.0999 152.903 81.8913 152.903C80.2541 152.903 78.4242 153.385 77.0759 151.844C95.1818 145.005 113.48 138.84 131.875 132.771C133.801 132.097 135.824 131.23 137.942 131.23C144.01 131.423 150.077 130.556 156.048 129.882C165.39 130.171 174.636 128.822 183.881 128.437C194.282 128.051 204.684 127.088 215.085 126.318C235.117 124.969 255.245 123.524 275.277 122.272C290.59 121.309 305.999 120.249 321.312 119.575C324.683 119.382 328.054 118.13 331.521 119.093Z" fill="#C16256"/>
					<path d="M156.047 129.879C149.98 130.553 144.009 131.324 137.941 131.228C135.822 131.228 133.896 132.095 131.874 132.769C113.479 138.837 95.1805 145.002 77.0747 151.841C75.3412 153.479 73.3187 154.153 70.911 154.057C66.7698 153.864 62.6285 153.961 58.391 153.961C62.8212 150.108 68.6959 148.663 73.2224 145.002C82.6606 140.668 91.6172 135.37 100.67 130.264C105.1 127.76 109.434 126.411 114.538 126.7C126.288 127.375 137.941 127.567 149.691 127.856C152.002 127.856 154.217 127.953 155.854 129.975" fill="#8F3225"/>
					<path d="M58.3916 153.865C62.5328 153.865 66.6741 153.865 70.9116 153.961C73.3193 154.057 75.3418 153.383 77.0753 151.745C78.4236 153.19 80.2535 152.805 81.8907 152.805C92.1956 152.805 102.501 153.479 112.613 152.612C126.096 151.456 139.579 152.612 152.966 151.456C164.908 150.397 176.85 151.456 188.792 150.397C202.083 149.241 215.373 150.397 228.567 149.145C240.702 148.085 252.837 148.567 264.875 148.278C270.365 148.085 275.758 146.447 281.248 147.218C282.692 163.304 281.633 179.391 282.692 195.477C283.463 208.578 283.27 221.582 283.559 234.586C283.655 239.305 285.196 243.929 284.522 248.649C275.277 246.626 266.031 244.603 256.786 242.773C242.147 239.787 227.315 237.764 212.484 236.03C194.474 234.008 176.465 233.622 158.455 234.104C149.402 234.297 140.253 234.875 131.2 235.934C125.422 236.608 119.451 236.897 113.672 237.09C102.886 237.379 92.0993 239.017 81.3129 238.439C73.7046 238.053 66.1925 237.572 58.5842 237.09C59.2584 217.536 57.5248 198.078 57.6211 178.524C57.6211 172.07 57.5248 165.616 57.5248 159.162C57.5248 157.332 56.947 155.309 58.5842 153.768" fill="#AB3A27"/>
					<path d="M363.012 188.445C359.064 188.445 355.019 188.445 351.07 188.445C348.759 188.445 347.507 187.675 347.507 185.17C347.507 178.909 347.122 172.648 347.507 166.387C347.988 159.259 352.996 154.635 361.086 153.286C368.213 152.034 374.184 154.924 377.17 161.185C378.422 163.786 379.288 166.483 379.288 169.373C379.288 174.093 379.385 178.909 379.288 183.629C379.288 188.06 379.192 188.156 374.858 188.253C370.91 188.253 366.865 188.253 362.916 188.253V188.445H363.012Z" fill="#78382D"/>
				</svg>
			</div>
		</div>
	</div>
</div>
