.main-menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include media-up(sm) {
      gap: 2rem;
    }
  }

  li {
    line-height: 0;
  }

  a {
    display: flex;
  }
}

.main-navigation {
  background-color: var(--color-brand-white);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: all 1.2s $smooth;
  display: none;
  z-index: 4;

  .grid {
    height: 100vh;
    padding-top: 16%;

    @include media-down(lg) {
      padding-top: 18%;
    }

    @include media-down(sm) {
      padding-top: 36%;
    }

    @include media-down(xs) {
      padding-top: 58%;
      grid-auto-rows: auto 1fr auto;
    }
  }

  &__primary,
  &__secondary {

    a {
      transition: all 2s $smooth;
      transform: translateX(0px);
      position: relative;
      display: inline-block;
      text-wrap: nowrap;

      &:hover {
        transform: translateX(25px);
        color: var(--color-brand-red);
      }
    }
  }

  &__primary {
    ul {
      line-height: 98%;

      @include media-down(xs) {
        line-height: 110%;
      }
    }
  }

  &__secondary {

    ul {
      @include media-down(xs) {
        font-family: var(--typography-paragraph20-font-family);
        font-size: 15px;
        line-height: 180%;
      }
    }

  }

  &__follow {
    display: flex;
    justify-content: flex-start;
    column-gap: 80px;
    align-items: flex-end;
    padding-bottom: 40px;

    @include media-down(xs) {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 0px;
    }

    .change-lang {
      padding-bottom: 6px;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      column-gap: 24px;
      align-items: center;
      position: relative;

      &:first-child {

        &::after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 26px;
          background-color: var(--color-ui-grey02);
          right: -40px;
          position: absolute;

          @include media-down(xs) {
            display: none;
          }
        }

      }

      &.change-lang {
        li {
          a {
            opacity: 0.3;
          }

          &.active {
            a {
              opacity: 1;
            }

          }
        }

      }
    }

  }

  .ico-house {
    align-items: flex-end;
    display: flex;

    svg {
      max-width: 100%;
      height: auto;
    }
  }
}

body.nav-open {
  position: fixed;

  .main-navigation {
    display: block;

  }

}