<section class="image">
	<div class="container-fluid">
		<div class="img _16-9 img--primary img-zoom">
			<picture>
				{{image({ src: image, srcset: [769, 1920], alt: 'default' })}}
			</picture>
		</div>
	</div>
</section>
