<section class="text-only mt-80 center">
	<div class="container-fluid">
		<div class="grid">
			<div class="text grid-4 grid-md-6 end-md-9">
				<div class="title display20">{{ title }}</div>
				<div class="abstract paragraph10">
					{{ abstract }}
				</div>
			</div>
		</div>
	</div>
</section>
