<section class="slider-fullwith">
	<div class="container-fluid">
		<div class="text-position">
			<div class="grid">
				<div class="grid-4 grid-md-12 text">
					<div class="label30 uppercase white">the philosophy</div>
					<div class="swiper-fullwith-text">
						<div class="swiper-wrapper">
							<div data-href="A" class="display20 white swiper-slide">
								<div class="grid">
									<div class="grid-4 grid-md-9 end-md-10">Biodynamic agriculture and organic oenology.</div>
								</div>
							</div>
							<div data-href="B" class="display20 white swiper-slide">
								<div class="grid">
									<div class="grid-4 grid-md-9 end-md-10">A unique diversity of soils and varietals.</div>
								</div>
							</div>
							<div data-href="C" class="display20 white swiper-slide">
								<div class="grid">
									<div class="grid-4 grid-md-9 end-md-10">At the heart of the Macchia mediteranea.</div>
								</div>

							</div>

						</div>
					</div>
					<div class="mt-24">
						<a href="#" class="cta cta--ghost cta10">Discover more</a>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-fullwith">

			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="img _16-9 img--primary">
						<picture>
							{{image({ src: '/assets/img/slider01.jpg', srcset: [769, 1920], alt: 'default' })}}
						</picture>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="img _16-9 img--primary">
						<picture>
							{{image({ src: '/assets/img/slider02.jpg', srcset: [769, 1920], alt: 'default' })}}
						</picture>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img _16-9 img--primary">
						<picture>
							{{image({ src: '/assets/img/slider03.jpg', srcset: [769, 1920], alt: 'default' })}}
						</picture>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
