<header class="header" data-nav="">
    <div class="container-fluid">
        <div class="header__wrapper">
            <div class="header__primary">
                <nav class="nav nav--primary" aria-label="Main Navigation" role="navigation">

                    shop

                </nav>
            </div>
            <div class="header__logo">
            <a href="./homepage.html" class="">
            {{image({ src: '/assets/img/Logo.png', width: 230, height: 258, alt: 'Picture' })}}
            </a>
            </div>
            <div class="header__secondary">

                <nav class="nav nav--primary" aria-label="Main Navigation" role="navigation">

                    menu

                </nav>
                
            </div>
        </div>
        <!-- <div class="header__toggle">
            <button class="nav-toggler" data-nav-toggle="" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </div> -->
    </div>
</header>