.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  max-width: 1920px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  transition: all .3s cubic-bezier(0, .97, .43, 1);

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__primary {
    svg {
      margin-right: 8px;
    }
  }

  &__secondary {
    svg {
      margin-left: 8px;
    }
  }

  &__primary,
  &__secondary {

    .nav {
      display: flex;
      align-items: center;

      span {
        @include media-down(xs) {
          display: none;
        }
      }
    }


    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__logo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);

    img {
      @include media-down(xs) {
        width: 141px;
        height: 158px;
      }
    }



    &__secondary svg {
      margin-left: 10px;
    }
  }


  a {
    display: flex;
  }

  .icon--webhook {
    width: 36px;
    height: 36px;
  }

  .icon--github {
    width: 24px;
    height: 24px;
  }
}