.header {
  position: relative;
  z-index: 999;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  transition: all .3s cubic-bezier(0, .97, .43, 1);

  &__wrapper {}

  &__primary,
  &__secondary {

    padding-top: 40px;

    @include media-down(xs) {
      padding-top: 24px;
    }

    .nav {
      position: relative;
      transition: all 1.8s $smooth;

      svg {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        margin-top: -11px;
        transform: scale(1);
        transition: all 1.2s $smooth;
      }

      &:hover {
        color: var(--color-brand-red);

        svg {
          transform: scale(1.3);
        }
      }

      span {
        @include media-down(xs) {
          text-indent: -666px;
          display: inline-block;
          overflow: hidden;
        }
      }

      &--primary {
        padding-left: 30px;

        svg {
          left: 0;
        }
      }

      &--secondary {
        padding-right: 30px;

        svg {
          right: 0;
        }
      }
    }

  }

  &__secondary {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__secondary {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    .nav {
      svg {
        &:last-child {
          display: none;
        }
      }

      &.active {
        span {
          text-indent: -666px;
          display: inline-block;
          overflow: hidden;
        }

        svg {
          display: none;

          &:first-child {
            display: none;
          }

          &:last-child {
            display: inline-block;
          }

        }

        &:hover {

          svg {
            transform: scale(1);
          }
        }

      }
    }
  }

  &__logo {
    text-align: center;

    img {
      max-width: 100%;

      @include media-down(lg) {}

      @include media-down(xs) {}
    }
  }

}