<section class="images">
	<div class="container-fluid custom-grid-6 grid extra-padding">
		<div class="item grid-2 grid-md-4">
			<div class="img _4-3 img--primary">
				<picture>
					{{image({ src: image1,  srcset: [769, 1920], alt: 'default' })}}
				</picture>
			</div>
		</div>
		<div class="item grid-2 grid-md-4">
			<div class="img _4-3 img--primary">
				<picture>
					{{image({ src: image2, srcset: [769, 1920], alt: 'default' })}}
				</picture>
			</div>
		</div>
		<div class="item grid-2 grid-md-4">
			<div class="img _4-3 img--primary">
				<picture>
					{{image({ src: image3, srcset: [769, 1920], alt: 'default' })}}
				</picture>
			</div>
		</div>
	</div>
</section>
