.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 240px;

  @include media-down(xs) {
    margin-top: 140px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1em;

    &-center {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .display30 {
    font-weight: normal;
    line-height: 110%;
    color: var(--color-brand-red);
    text-transform: uppercase;
    font-family: var(--typography-serif-font-family);
    font-size: 96px;

    @include media-down(xs) {
      line-height: 50.4px;
      font-size: 56px;
    }

    span {
      display: block;
      text-wrap: nowrap;
    }

  }
}