<section class="map">
	<div class="container-fluid">
		<div id="mapWines" class="mapWines">

			<div id="wraptext" class="wraptext">
				<div id="inner_wraptext" class="inner_wraptext"></div>
			</div>

			<picture>
				<img src="/assets/img/map.svg" alt="SVG Image">
			</picture>
		</div>
	</div>
</section>
