{% extends '/templates/layouts/layout.twig' %}

{% block main %}

	<main>
		{% include '/templates/components/hero/hero.twig' with { homepage: true } %}
		<div class="components">
			{% include '/templates/components/listavini/listavini.twig' %}
			{% if page.components %}
				{% for component in page.components %}
					{% include './templates/components/' ~ component.schema ~ '/' ~ component.schema ~ '.twig' with { media: component.media.type, thissrc:component.media.src  } %}
				{% endfor %}
			{% endif %}

			{% include '/templates/components/text-only/text-only.twig' with {'title': 'The Origin', 'abstract': '<p>Caiarossa was created in <strong>1998</strong> on the rolling hillsides of Riparbella at <strong>Podere Serra All’Olio</strong>, a 70 hectare/170 acre estate, part of an area owned for centuries by the della <strong>Gherardesca family</strong>. Wine has been produced in Tuscany for millennia, but from its creation Caiarossa decided to be different, following <strong>biodynamic principles</strong>. Today, in partnership with the highest levels of professional winemaking, we ensure the truest possible expression of character and vitality of this extraordinarily vibrant terroir.</p>'} %}
			{% include '/templates/components/images/images.twig' with {'image1':'/assets/img/people_01.jpg', 'image2':'/assets/img/people_02.jpg', 'image3':'/assets/img/people_03.jpg'} %}
			{% include '/templates/components/text-only/text-only.twig' with {'title': 'The Estate', 'abstract': '<p>Thanks to the continuous commitment and passion of the Albada Jelgersma family, our original 12-hectare vineyard has continued to grow over the years while still carefully fulfilling the founding vision. The entire Caiarossa estate now totals <strong>110 hectares (271 acres)</strong> including:</p>'} %}
			{% include '/templates/components/cards/cards.twig' %}
			{% include '/templates/components/editorial/editorial.twig' with {'image1':'/assets/img/people_04.jpg', 'image2':'/assets/img/people_05.jpg', 'title': 'The Family', 'abstract2':'<p>After he passed away, we placed a large sculpture in his favourite spot,<strong>a pair of eyeglasses</strong>that encourages all of our visitors to see the beauty of Caiarossa through his eyes and to share his love for this magical place.</p><p>That innovative vision is now maintained by Eric’s three children, <strong>Valérie</strong>, <strong>Derk</strong> and <strong>Dennis</strong>, who honour his legacy by continuing to develop and deepen the family’s relationship with this amazing place with commitment, passion and positivity.</p><p>Caiarossa is part of AJ Domaines, the Albada Jelgersma wineries group, along with Chateau Giscours. Both wineries remain distinct entities that celebrate the extraordinary character of their own specific terroirs, although we work together as a family, led by the AJ vision, to share the very best ideas and practices.</p>', 'abstract': '<p>In <strong>2004</strong>, Caiarossa was acquired by <strong>Eric Albada Jelgersma</strong>, who was searching for an Italian counterpart for his historic estate in Bordeaux-Margaux, Chateau Giscours. He was deeply impressed by Caiarossa’s huge potential and fell in love with the beauty, energy and fertility of the region. </p>'} %}
			{% include '/templates/components/editorial/editorial.twig' with {'image1':'/assets/img/people_07.jpg', 'image2':'/assets/img/people_06.jpg', 'title': 'The Team', 'abstract2':'<p>To ensure better communication, purposeful evolution, and inspired exciting product developments, all key departments are kept in-house. One of our main goals is <strong>nurturing a positive, productive and sustainable relationship between nature and human beings</strong>.</p><p>The majority of our Caiarossa vineyard team members are from Riparbella and the immediate area; many have been with us for a decade or more.</p><p> Due to our biodynamic approach, our vineyards are cared for by approximately <strong>one person per hectare</strong>, ensuring the highest standards of quality and unrivalled attention throughout our growing and winemaking processes.</p>', 'abstract': '<p>At Caiarossa, every member of our young international team brings authentic energy, passion, care and commitment to the long-term development of the winery.  </p>'} %}
			{% include '/templates/components/image/image.twig' with {'image': '/assets/img/people_08.jpg'} %}
			{% include '/templates/components/text-only/text-only.twig' with {'title': 'The Identity', 'abstract': '<p>Our name, ’Caiarossa’ was created to pay homage to the Earth goddess Gaia and the rich red earth of the area. Our iconic logo, which graces the label on all our wines, features the head of an Etruscan statue of Dionysus, the god of wine, vegetation and fertility.  This majestic representation was discovered near Volterra and acquired by Mr Eric Albada just before he became the inspiring leader of the Caiarossa estate in Riparbella, in the Etruscan land.</p>'} %}
			{% include '/templates/components/2images/2images.twig' with {'image1':'/assets/img/people_09.jpg', 'image2':'/assets/img/people_11.jpg'} %}
			{% include '/templates/components/cta/cta.twig' with {'text': 'Discover our philosophy'} %}
			{% include '/templates/components/image/image.twig' with {'image': '/assets/img/people_12.jpg'} %}
			{% include '/templates/components/magazine/magazine.twig' with {'cta':'Book now yours','image1':'/assets/img/people_04.jpg', 'image2':'/assets/img/people_13.jpg', 'title': 'Come and visit us', 'abstract2':'<p>Far from the most celebrated routes, the Val di Cecina is still partly "secret". Explore everything that makes Tuscany so unforgettable: hills, cypresses, woods, sea and vineyards.</p>'} %}
			{% include '/templates/components/slider-fullwith/slider-fullwith.twig' with {'image': '/assets/img/people_08.jpg'} %}
			{% include '/templates/components/slider-wines/slider-wines.twig' %}
		</div>
	</main>

{% endblock %}
